<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Enter</title>
    <link rel="stylesheet" href="stylin.css">
  </head>

  <body>
    <h3>저장 완료되었습니다</h3>
    <a href="/list"><button>게시글 페이지로 이동하기</button></a>
  </body>
</html>